/.AssociationClassAttributesInterfaceGenerator.java._trace
/.AssociationClassDtoClassGenerator.java._trace
/.AssociationClassMetierClassGenerator.java._trace
/.AssociationClassModelGenerator.java._trace
/.AssociationClassAttributesInterfaceGenerator.xtendbin
/.AssociationClassDtoClassGenerator.xtendbin
/.AssociationClassMetierClassGenerator.xtendbin
/.AssociationClassModelGenerator.xtendbin
/AssociationClassAttributesInterfaceGenerator.java
/AssociationClassDtoClassGenerator.java
/AssociationClassMetierClassGenerator.java
/AssociationClassModelGenerator.java
