/.ClassifierJPAEntityGenerator.java._trace
/.InterfaceGenerator.java._trace
/.InterfaceJPAGenerator.java._trace
/.NomenclatureGenerator.java._trace
/.NomenclatureConverterGenerator.java._trace
/.test.java._trace
/.ClassifierJPAEntityGenerator.xtendbin
/.NomenclatureConverterGenerator.xtendbin
/.NomenclatureGenerator.xtendbin
/ClassifierJPAEntityGenerator.java
/NomenclatureGenerator.java
