<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=additions">
            <menu
               id="hornetMenu"
               label="Hornet Generation"
               icon="icons/hornet_menu.png">
         <command
               commandId="fr.gouv.diplomatie.papyrus.codegen.ui.command.validate"
               label="Valider le modèle"
               style="push"
               tooltip="Valider le modèle">
         </command>
         <separator
		       name="separator-gene"
		       visible="true">
		</separator>
         <command
               commandId="fr.gouv.diplomatie.papyrus.codegen.ui.command.generate"
               label="Generate All Hornet code"
               style="push"
               tooltip="Generate All Hornet Code">
         </command>
         <separator
		       name="separator-id"
		       visible="true">
		</separator>
         <command
               commandId="fr.gouv.diplomatie.papyrus.codegen.ui.command.generate.database"
               label="Generate Database Script"
               style="push"
               tooltip="Generate Database Script">
         </command>
         <command
               commandId="fr.gouv.diplomatie.papyrus.codegen.ui.command.generate.models.metier"
               label="Generate Class: Metier"
               style="push"
               tooltip="Generate Class: Metier">
         </command>
         <separator
		       name="separator-services"
		       visible="true">
		</separator>
		<command
               commandId="fr.gouv.diplomatie.papyrus.codegen.ui.command.validatejava"
               label="Valider le modèle (Java)"
               style="push"
               tooltip="Valider le modèle en prenant en compte les stéréotypes pour la génération java">
         </command>
         <command
               commandId="fr.gouv.diplomatie.papyrus.codegen.ui.command.generate.jpaentities"
               label="Generate JPA Entities"
               style="push"
               tooltip="Generate JPA Entities">
         </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="fr.gouv.diplomatie.papyrus.codegen.ui.handlers.ValidateModelHandler"
            description="Valider le modèle"
            id="fr.gouv.diplomatie.papyrus.codegen.ui.command.validate"
            name="Valider le modèle">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="fr.gouv.diplomatie.papyrus.codegen.ui.handlers.ValidateModelHandlerJava"
            description="Valider le modèle (Java)"
            id="fr.gouv.diplomatie.papyrus.codegen.ui.command.validatejava"
            name="Valider le modèle (Java)">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="fr.gouv.diplomatie.papyrus.codegen.ui.handlers.GenerateCodeHandler"
            description="Generate All Hornet Code"
            id="fr.gouv.diplomatie.papyrus.codegen.ui.command.generate"
            name="Generate All Hornet Code">
      </command>
       <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="fr.gouv.diplomatie.papyrus.codegen.ui.handlers.GenerateDatabaseScriptHandler"
            description="Generate Database Script"
            id="fr.gouv.diplomatie.papyrus.codegen.ui.command.generate.database"
            name="Generate Database Script">
      </command>
       <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="fr.gouv.diplomatie.papyrus.codegen.ui.handlers.GenerateMetierClassHandler"
            description="Generate Class: Metier"
            id="fr.gouv.diplomatie.papyrus.codegen.ui.command.generate.models.metier"
            name="Generate Class: Metier">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="fr.gouv.diplomatie.papyrus.codegen.ui.handlers.GenerateJPAEntityHandler"
            description="Generate JPA Entities"
            id="fr.gouv.diplomatie.papyrus.codegen.ui.command.generate.jpaentities"
            name="Generate JPA Entities">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            class="fr.gouv.diplomatie.papyrus.codegen.ui.preferences.CodeGenPreferencePage"
            id="fr.gouv.diplomatie.papyrus.codegen.ui.command.CodeGenPreferencePage"
            name="Code Generation">
      </page>
   </extension>
   <extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="fr.gouv.diplomatie.papyrus.codegen.ui.command.validate"
         contextId="org.eclipse.ui.contexts.window"
         sequence="M1+1"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
   </key>
   <key
         commandId="fr.gouv.diplomatie.papyrus.codegen.ui.command.generate"
         contextId="org.eclipse.ui.contexts.window"
         sequence="M1+2"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
   </key>
      <key
         commandId="fr.gouv.diplomatie.papyrus.codegen.ui.command.generate.database"
         contextId="org.eclipse.ui.contexts.window"
         sequence="M1+4"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
   </key>
   <key
         commandId="fr.gouv.diplomatie.papyrus.codegen.ui.command.generate.models.metier"
         contextId="org.eclipse.ui.contexts.window"
         sequence="M1+5"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
   </key>
      <key
         commandId="fr.gouv.diplomatie.papyrus.codegen.ui.command.validatejava"
         contextId="org.eclipse.ui.contexts.window"
         sequence="M1+6"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
   </key>
   <key
         commandId="fr.gouv.diplomatie.papyrus.codegen.ui.command.generate.jpaentities"
         contextId="org.eclipse.ui.contexts.window"
         sequence="M1+7"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
   </key>
</extension>

</plugin>
